<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    
    <form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="POST">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" />
        </div>
        <br/>
        <div>
            <label>City</label>
            <input type="text" th:field="*{city}" />
        </div>
        <br/>
        <div>
            <label>Mark</label>
            <input type="text" th:field="*{mark}" />
        </div>
        <br/>
        <div>
            <label>Class Number</label>
            <input type="text" th:field="*{classNumber}" />
        </div>
        <br/>
        <button type="submit">Update Student</button>
    </form>
</body>
</html>